@CHARSET "UTF-8";
	body{
		height:100%;
		width:100%;
		background-image: url(../img/loginimg/9.jpg);
		/* background-repeat: no-repeat;
		background-size:100% 100%; */
		/* background-color: red; */
		/* border:solid black 1px; */
	}
	#regist{
		border:solid black 1px;
		margin:auto;
		/* margin-right: 30%; */
		margin-top: 10%;
		width:350px;
		height:350px;
		border-radius:10px;
		background-color: white;
	}
	.name,.nickname,.password,.button{
		width:300px;
		height:35px;
		margin-top:30px;
		margin-left: 25px;
	}
	.login{
		width:300px;
		height:30px;
		margin-top:30px;
		margin-left: 25px;
		text-align: center;
	}
	 input{
		border-radius:5px;
		
	}
	.note{
		height:10px;
		color:red;
		text-align: center;
		font-size:15px;
	}